.git
.github
.gitignore
.venv
__pycache__
*.pyc
*.egg-info
.pytest_cache
.coverage
.vscode
Dockerfile
docker-compose.yml
.dockerignore
nginx.conf
certbot/
instance/
tests/
README.md
LICENSE
meetings.md
